.footer {
  position: absolute;
  bottom: 0;
  height: 10vh;
  background: transparent;
  z-index: 0;
  width: 99vw;
}

.about-card {
  background: transparent;
  border-color: transparent;
  margin-top: 10vh;
  text-align: center
}

.contact-card {
  background: transparent;
  border-color: transparent;
  margin-top: 10vh;
}

.appbar-link {
  color: 'black' !important;
}

.appbar-link:hover {
  text-decoration: underline;
}

.quest-icon {
  margin-top: 7%
}

@media screen and (max-width: 570px) {
  .about-card {
    margin-top: 5vh;
  }

  .contact-card {
    margin-top: 5vh;
  }

  .quest-icon {
    margin-top: 17%
  }
}